<div class="container pt-5 mb-5">

  <form novalidate [formGroup]="busquedaForm" (ngSubmit)="busquedaEmpleado();" class="mb-4">
   <h4 class="text-left">Empleados registrados</h4>
    <div class="row mb-2">
      
      <div class="col-md-3">
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1">Cargo:</span>
          <select class="browser-default custom-select" [(ngModel)]="cargo" formControlName="cargo">
            <option [ngValue]="null" disabled> Elige puesto.. </option>
            <option *ngFor="let cargo of Cargos" [ngValue]="cargo">{{cargo}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1">Nombre: </span>
          <input type="text"  [(ngModel)]="nombre" formControlName="nombre" maxlength="60" class="form-control" placeholder="Ejem: Ricardo Herrera">
        </div>
      </div>
    
      <div class="col-md-2">
        <div class="input-group">
          <button type="submit" [disabled]="busquedaForm.invalid" class="btn btn-outline-secondary">Buscar</button>
        </div>
      </div>
    </div>
   </form>

    <!-- Tabla para empleados normales -->
    <table  class="table table-bordered table-hover table-md-responsive">
        <thead class="thead-dark">
          <tr class="text-uppercase text-center">
            <th *ngFor="let titulo of titulos">{{titulo.name}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleados;let indice as i" class="text-center">
           <ng-container *ngIf="empleado.valido != 0">
            <th scope="row">{{empleado.idEmpleado}}</th>
            <td>{{empleado.nombre}}</td>
            <td >{{empleado.apellido_paterno}} {{empleado.apellido_materno}}</td>
            <td >{{empleado.fecha_nacimiento | date}}</td>
            <td >{{empleado.calle}} {{empleado.numero}}</td>
            <td >{{empleado.salario | currency:'USD'}} </td>
            <td >{{empleado.telefono}}</td>
            <td >{{empleado.correo}}</td>
            <td *ngIf="empleado.cargo == 'e'">encargado</td>
            <td *ngIf="empleado.cargo == 'n'">general</td>
            <td><button type="button" class="btn btn-outline-danger btn-sm" (click)="eliminarEmpleados(empleado.idEmpleado)">Eliminar</button></td>
 
          </ng-container>
          </tr>
        </tbody>
      </table>
      
</div>
