 <!-- barra de navegacion-->
 <nav class="navbar navbar-expand-lg navbar-toggleable-md navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand " routerLink="/"><i class="fa fa-home fa-1.5x"></i>INICIO</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01" *ngIf="rolDeUsuario != null && rolDeUsuario.cargo == 'e'">
            <!-- El centrado de navbar -->

            <!-- Hasta aqui el login del empleado-->
           <!-- <ul class="navbar-nav mr-auto ml-auto text-center">
                
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Gestion de Pedidos </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Envios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Piezas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Pagos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Facturación</a>
                </li>
            </ul>
          -->
             
            <br>
            <div class="d-flex justify-content-center" >
                <a routerLink="https://twitter.com/pizzahut" class="btn btn-outline-primary mr-2" ><i class="fa fa-user"></i>
            
                </a>
                <a routerLink="pedido/registro" class="btn btn-outline-danger mr-2"><i class="fa fa-sign-out"></i></a> 

            </div>
            
        </div>
    </div>
</nav>
