<div class="container pt-5 mb-5">

  <form novalidate [formGroup]="formval"  (ngSubmit)="busquedaPedido();" class="mb-4">
    <h4 class="text-left">Pedidos registrados</h4>
    <div class="row mb-2 pt-3">
      <div class="col-md-3">
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1">Envio:</span>
          <select class="browser-default custom-select" [(ngModel)]="estatus_surtido" formControlName="estatus_surtido">
            <option [ngValue]="null" disabled> Elige categoria.. </option>
            <option *ngFor="let TipoEnv of TiposEnv" [ngValue]="TipoEnv">{{TipoEnv}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-3">
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1">Pago:</span>
          <select class="browser-default custom-select" [(ngModel)]="estatus_pago" formControlName="estatus_pago">
            <option [ngValue]="null" disabled> Elige categoria.. </option>
            <option *ngFor="let TipoPag of TiposPag" [ngValue]="TipoPag">{{TipoPag}}</option>
          </select>
        </div>
      </div>

    </div>

    <div class="row mb-2">
        
        <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1"># Pedido: </span>
              <input type="number" [(ngModel)]="idPedido" formControlName="idPedido" min="1" maxlength="10"
                class="form-control" placeholder="0">
            </div>
          </div>

      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1">Fecha Pedido: </span>
          <input type="date" [(ngModel)]="fecha" formControlName="fecha" class="form-control">
        </div>
      </div>


      <div class="col-md-2 ">
        <div class="input-group">
          <button type="submit" [disabled]="formval.invalid" class="btn btn-outline-secondary">Buscar</button>
        </div>
      </div>
    </div>
  </form>
  <ng-container *ngIf="buscBool == true">
    <blockquote class="blockquote text-center">
      <i class="fa fa-search fa-4x mb-4"></i>
      <p class="mb-0">No se encontraron resultados.</p>
    </blockquote>
   </ng-container>

  <table *ngIf="pedidos != 0 && buscBool == false" class="table table-bordered table-hover table-md-responsive">
    <thead class="thead-dark">
      <tr class="text-uppercase text-center">
        <th *ngFor="let titulo of titulos">{{titulo.name}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of pedidos;let indice as i" class="text-center">
      <ng-container>
           <!-- // idpedido, fecha y hora, idCliente, Estatus de pago, Estatus de envio(surtido), detalles.-->
        <th scope="row">{{pedido.idPedido}}</th>
        <td>{{pedido.fecha | date:'medium'}}</td>
        <td>{{pedido.idCliente}}</td>
        <td *ngIf="pedido.estatus_pago == 'S'">Pagado</td>
        <td *ngIf="pedido.estatus_pago == 'N'">No Pagado</td>
        <td *ngIf="pedido.estatus_surtido == 'S'">Surtido</td>
        <td *ngIf="pedido.estatus_surtido == 'N'">No Surtido</td>
        <td>{{pedido.total_pagar | currency:'USD'}}</td>
        <td> <button class="btn btn-outline-info btn-sm" (click)="open(contenido, pedido.idPedido, pedido.total_pagar,pedido.estatus_surtido)">Ver detalles</button></td> 

        <ng-template #contenido let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Detalles pedido</h4>
            <button type="button" class="close btn btn-outline-dark" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <table  class="table table-bordered table-hover table-md-responsive">
                <thead class="thead-dark">
                  <tr class="text-uppercase text-center">
                    <th *ngFor="let titulodetalles of titulosdetalles">{{titulodetalles.name}}</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let detallepedido of detallepedidos;let indice as i" class="text-center">
                      <th scope="row">{{detallepedido.idPieza}}</th>
                      <td>{{detallepedido.nombre}}</td>
                      <td><img src='{{detallepedido.url}}' width="40px" height="30px" class="img-responsive"></td>
                      <td>{{detallepedido.cantidad}}</td>
                      <td><button type="button" class="btn btn-outline-info" (click)=" mostrarImagen(contenido2, detallepedido.idPieza)" >Ver pieza</button></td>
                      <td> <button type="button" class="btn btn-outline-secondary" [hidden]="lenSurtido == lenButton || surtidoaux == 'S'" [disabled]="lenSurtido == lenButton" (click)="surtirPedido(detallepedido.idPedido, detallepedido.idPieza, detallepedido.cantidad);"> Surtir</button>
                        <button type="button" class="btn btn-outline-secondary" [hidden]="lenSurtido != lenButton || surtidoaux == 'S'"> En proceso</button>
                        <button type="button" class="btn btn-outline-secondary" *ngIf="surtidoaux == 'S'" disabled> Surtido</button>
                      </td>
                    </tr>
                </tbody>
              </table>
              <button type="button" class="btn btn-outline-danger mt-4" [hidden] = "surtidoaux == 'S'"  [disabled]="lenSurtido != lenButton" (click)=" generarfactura();" (click)="modal.close('Save click')"> Facturar y terminar de surtir</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
          </div>
        </ng-template>
      </ng-container>
      </tr>
    </tbody>
  </table>
   

  <ng-template #contenido2 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Imagen de pieza</h4>
      <button type="button" class="close btn btn-outline-dark" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <img src="{{srcaux}}" class="img-thumbnail rounded mx-auto d-block" alt="">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>

  
 

</div>
